## LibGDX

# Keep Android backend
-keep class com.badlogic.gdx.backends.android.** { *; }
# This needs also descriptor classes
-keep public class com.badlogic.gdx.Screen
-keep public class com.badlogic.gdx.Application
-keep public class com.badlogic.gdx.ApplicationListener
-keep public class com.badlogic.gdx.LifecycleListener
-keep public class com.badlogic.gdx.InputProcessor
-keep public class com.badlogic.gdx.files.FileHandle
-keep public class com.badlogic.gdx.Files\$FileType
-keep public class com.badlogic.gdx.Graphics\$DisplayMode
-keep public class com.badlogic.gdx.Input\$TextInputListener
-keep public class com.badlogic.gdx.Input\$Peripheral
-keep public class com.badlogic.gdx.Input\$Orientation
-keep public class com.badlogic.gdx.Net\$HttpRequest
-keep public class com.badlogic.gdx.Net\$HttpResponseListener
-keep public class com.badlogic.gdx.Net\$Protocol
-keep public class com.badlogic.gdx.net.SocketHints
-keep public class com.badlogic.gdx.net.ServerSocketHints
-keep public class com.badlogic.gdx.utils.Array
-keep public class com.badlogic.gdx.audio.Music\$OnCompletionListener

## Scala

# Fix accesses to class members by means of introspection
-keepclassmembernames class scala.concurrent.forkjoin.ForkJoinPool {
    ** ctl;
    ** stealCount;
    ** plock;
    ** qlock;
    ** indexSeed;
    ** parkBlocker;
}
-keepclassmembernames class scala.concurrent.forkjoin.ForkJoinPool\$WorkQueue {
    ** qlock;
}
-keepclassmembernames class scala.concurrent.forkjoin.ForkJoinTask {
    ** status;
}
-keepclassmembernames class scala.concurrent.forkjoin.LinkedTransferQueue {
    ** head;
    ** tail;
    ** sweepVotes;
}
-keepclassmembernames class scala.concurrent.forkjoin.LinkedTransferQueue\$Node {
    ** item;
    ** next;
    ** waiter;
}

# See bug https://issues.scala-lang.org/browse/SI-5397
-keep class scala.collection.SeqLike { public protected *; }
# This needs also descriptor classes
-keep public class scala.Function1
-keep public class scala.Function2
-keep public class scala.collection.GenSeq
-keep public class scala.collection.generic.CanBuildFrom
-keep public class scala.math.Ordering

